body{
    padding: 0;
    margin: 0;
    background: rgb(21,108,223);
background: linear-gradient(90deg, rgba(21,108,223,0.0718662464985994) 0%, rgba(8,175,246,0.06066176470588236) 35%, rgba(0,212,255,1) 100%);
    font-size: 1rem;
    
}
.container{
    width: 80%;
   margin: auto;
   color: black;
}

h1{
    text-align: center;
}
p{
    font-size: 1.1rem;
}
.botao:hover{
    border-radius: 3px;
    margin: 3px;
    background-color:#abe7ff;
    color:  rgb(8, 43, 243);
}
.botao{
    background-color: whitesmoke;
}
fieldset{
    background: rgb(21,108,223);
background: linear-gradient(90deg, rgba(21,108,223,0.8281687675070029) 0%, rgba(8,63,246,0.8141631652661064) 35%, rgba(173,0,255,0.9094012605042017) 100%);
}